{% extends 'base_prognoz_razvitia_proekta.html' %}

{% block content %}
    <div class="PrognozRazvitiaProekta">
        {% if PrognozRazvitiaProekta.id_project %}
            <div class="id_project">
                {{ PrognozRazvitiaProekta.id_project }}
            </div>
        {% endif %}

        {% if PrognozRazvitiaProekta.zadacha_prognoza %}
            <div class="zadacha_prognoza">
                {{ PrognozRazvitiaProekta.zadacha_prognoza }}
            </div>
        {% endif %}

        {% if PrognozRazvitiaProekta.name_product %}
            <div class="name_product">
                {{ PrognozRazvitiaProekta.zadacha_prognoza }}
            </div>
        {% endif %}

        {% if PrognozRazvitiaProekta.kratkoe_opisanie %}
            <div class="kratkoe_opisanie">
                {{ PrognozRazvitiaProekta.kratkoe_opisanie }}
            </div>
        {% endif %}

        {% if PrognozRazvitiaProekta.sroki_realizachii_s %}
            <div class="sroki_realizachii_s">
                {{ PrognozRazvitiaProekta.sroki_realizachii_s }}
            </div>
        {% endif %}

         {% if PrognozRazvitiaProekta.sroki_realizachii_po %}
            <div class="sroki_realizachii_po">
                {{ PrognozRazvitiaProekta.sroki_realizachii_po }}
            </div>
        {% endif %}


{% if user.is_authenticated %}
     <a class="btn btn-default" href="{% url 'prognoz_razvitia_proekta_edit'  %}"><span class="glyphicon glyphicon-pencil"></span></a>
{% endif %}
        <h1>{{ PrognozRazvitiaProekta.id_project }}</h1>
    </div>
{% endblock %}

