
<html>
<title>
    Форма для регистрации
</title>
  <meta charset="utf-8">
<body>
{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <h1>Форма регистрации</h1>
    <p>Please, sign up using the following form:</p>
    <form action="." method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Create my account"></p>
    </form>
{% endblock %}

{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Добро пожаловать {{ new_user.first_name }}!</h1>
    <p>Ваша учетная запись успеша была создана.Теперь вы можете войти <a href="{% url "login" %}">Войти</a>.</p>
{% endblock %}
</body>
</html>