{% load static %}
<html>
<head>
  <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
 body {
background:#B0E0E6;
     font-family: "Times New Roman";
}

        h1 {
            font-size: 30px;
            font-family: "Times New Roman";
            color: OrangeRed;
            margin-left: 20px;
        }

        p1 {
            margin-left: 10px;
            font-size: 40px;

        }

        h2{
            margin-left: 20px;
            margin-top: 40px;
        }

    </style>

</head>
{% block content %}
<body bgcolor="PowderBlue">
 <h2><a href="http://127.0.0.1:8000/">"Электронный банк цифровых образовательных ресурсов"</a></h2>
<h1>Организации-партнеры</h1>

<table class="table">
    <tr>
        <th class="col-md-4" style="background-color:orange"> Наименование организации</th>
    </tr>
    {% for i in partner %}
    <tr>
        <td> {{ i.name_partners }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
{% endblock %}