{% extends 'base_function.html' %}

{% block content %}
    <div class="Function">
        {% if Function.id_function %}
            <div class=" id_function">
                {{ Function.id_function }}
            </div>
        {% endif %}

        {% if Function.name_function %}
            <div class="name_function">
                {{ Function.name_function }}
            </div>
        {% endif %}

{% if user.is_authenticated %}
     <a class="btn btn-default" href="{% url 'perspektive_edit'  %}"><span class="glyphicon glyphicon-pencil"></span></a>
{% endif %}
        <h1>{{ Function.id_function }}</h1>
        <h1>{{ Function.name_function }}</h1>
    </div>
{% endblock %}

