{% extends 'base_perspektive.html' %}

{% block content %}
    <div class="Perspektive">
        {% if PerspektiveIspolzovaniaRezultatovProektaVmassovoiPraktike. perspektive_ispolzovania_produkta_innovation_deitelnosti %}
            <div class=" perspektive_ispolzovania_produkta_innovation_deitelnosti">
                {{ PerspektiveIspolzovaniaRezultatovProektaVmassovoiPraktike. perspektive_ispolzovania_produkta_innovation_deitelnosti }}
            </div>
        {% endif %}

{% if user.is_authenticated %}
     <a class="btn btn-default" href="{% url 'perspektive_edit'  %}"><span class="glyphicon glyphicon-pencil"></span></a>
{% endif %}
        <h1>{{ PerspektiveIspolzovaniaRezultatovProektaVmassovoiPraktike. perspektive_ispolzovania_produkta_innovation_deitelnosti }}</h1>
    </div>
{% endblock %}

